footer
  .container.text-center
    p.pull-left © 2015 Daniel Colson, Raghav Joshi, Dean Fulgoni - All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/dcolson/FreeLunch') GitHub Project