extends layout

block content
  h1 Free Lunch
  p.lead Your source for free lunch on college campuses.
  
  .page-header
    if !user
      h3 Sign in
      form(method='POST')
          hr
          a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
            i.fa.fa-facebook
            | Sign in with Facebook
    else
      p
        a(href='/calendar') Calendar
      li.dropdown(class=title=='Account Management'?'active':undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src='#{user.profile.picture}')
              else
                img(src='#{user.gravatar(60)}')
              | #{user.profile.name || user.email || user.id}&nbsp;
              i.caret
            ul.dropdown-menu
              li
                a(href='/account')
                  span.ion-person
                  | My Account
              li.divider
              li
                a(href='/logout')
                  span.ion-log-out
                  |  Logout