extends layout
block background-image
  .background

block content
  
  link(rel='stylesheet', href='css/homepage.css')

  h1 Free Lunch
  p.lead Your source for free lunch on college campuses.

  .page-header
    if !user
      h3 Sign in
      form(method='POST')
          hr
          a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
            i.fa.fa-facebook
            | Sign in with Facebook

