doctype html
//
  Overflow by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title Overflow by HTML5 UP
    | &#x9;&#x9;
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    | &#x9;&#x9;
    meta(name='description', content='')
    | &#x9;&#x9;
    meta(name='keywords', content='')
    //if lte IE 8
      script(src='css/ie/html5shiv.js')
    | &#x9;&#x9;
    script(src='js/jquery.min.js')
    | &#x9;&#x9;
    script(src='js/jquery.scrolly.min.js')
    | &#x9;&#x9;
    script(src='js/jquery.poptrox.min.js')
    | &#x9;&#x9;
    script(src='js/skel.min.js')
    | &#x9;&#x9;
    script(src='js/init.js')
    | &#x9;&#x9;
    noscript
      link(rel='stylesheet', href='css/skel.css')
      | &#x9;&#x9;&#x9;
      link(rel='stylesheet', href='css/style.css')
    //if lte IE 8
      link(rel='stylesheet', href='css/ie/v8.css')
  | &#x9;
  body
    // Header
    section#header
      header
        h1 Overflow
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        p By HTML5 UP
      | &#x9;&#x9;&#x9;&#x9;
      footer
        a.button.style2.scrolly.scrolly-centered(href='#banner') Proceed as anticipated
    // Banner
    section#banner
      header
        h2 This is Overflow
      | &#x9;&#x9;&#x9;&#x9;
      p
        | A brand new site template designed by 
        a(href='http://n33.co') AJ
        |  for 
        a(href='http://html5up.net') HTML5 UP
        | .
        br
        | &#x9;&#x9;&#x9;&#x9;It&rsquo;s fully responsive, built on 
        strong skel
        | , and of course entirely free
        br
        | &#x9;&#x9;&#x9;&#x9;under the 
        a(href='http://html5up.net/license') Creative Commons license
        | .
      | &#x9;&#x9;&#x9;&#x9;
      footer
        a.button.style2.scrolly(href='#first') Act on this message
    // Feature 1
    article#first.container.box.style1.right
      a.image.fit(href='#')
        img(src='images/pic01.jpg', alt='')
      | &#x9;&#x9;&#x9;&#x9;
      .inner
        header
          h2
            | Lorem ipsum
            br
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;dolor sit amet
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        p
          | Tortor faucibus ullamcorper nec tempus purus sed penatibus. Lacinia pellentesque eleifend vitae est elit tristique velit tempus etiam.
    // Feature 2
    article.container.box.style1.left
      a.image.fit(href='#')
        img(src='images/pic02.jpg', alt='')
      | &#x9;&#x9;&#x9;&#x9;
      .inner
        header
          h2
            | Mollis posuere
            br
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;lectus lacus
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        p
          | Rhoncus mattis egestas sed fusce sodales rutrum et etiam ullamcorper. Etiam egestas scelerisque ac duis magna lorem ipsum dolor.
    // Portfolio
    article.container.box.style2
      header
        h2 Magnis parturient
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        p
          | Justo phasellus et aenean dignissim
          br
          | &#x9;&#x9;&#x9;&#x9;&#x9;placerat cubilia purus lectus.
      | &#x9;&#x9;&#x9;&#x9;
      .inner.gallery
        .row(class='0%')
          .3u
            a.image.fit(href='images/fulls/01.jpg')
              img(src='images/thumbs/01.jpg', alt='', title='Ad infinitum')
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          .3u
            a.image.fit(href='images/fulls/02.jpg')
              img(src='images/thumbs/02.jpg', alt='', title='Dressed in Clarity')
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          .3u
            a.image.fit(href='images/fulls/03.jpg')
              img(src='images/thumbs/03.jpg', alt='', title='Raven')
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          .3u
            a.image.fit(href='images/fulls/04.jpg')
              img(src='images/thumbs/04.jpg', alt='', title="I'll have a cup of Disneyland, please")
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        .row(class='0%')
          .3u
            a.image.fit(href='images/fulls/05.jpg')
              img(src='images/thumbs/05.jpg', alt='', title='Cherish')
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          .3u
            a.image.fit(href='images/fulls/06.jpg')
              img(src='images/thumbs/06.jpg', alt='', title='Different.')
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          .3u
            a.image.fit(href='images/fulls/07.jpg')
              img(src='images/thumbs/07.jpg', alt='', title='History was made here')
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          .3u
            a.image.fit(href='images/fulls/08.jpg')
              img(src='images/thumbs/08.jpg', alt='', title='People come and go and walk away')
    // Contact
    article.container.box.style3
      header
        h2 Nisl sed ultricies
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        p Diam dignissim lectus eu ornare volutpat orci.
      | &#x9;&#x9;&#x9;&#x9;
      form(method='post', action='#')
        .row(class='50%')
          .6u
            input.text(type='text', name='name', placeholder='Name')
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          .6u
            input.text(type='text', name='email', placeholder='Email')
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        .row(class='50%')
          .12u
            textarea(name='message', placeholder='Message')
        | &#x9;&#x9;&#x9;&#x9;&#x9;
        .row
          .12u
            ul.actions
              li
                input(type='submit', value='Send Message')
    // Generic
    //
      <article class="container box style3">
      <header>
      <h2>Generic Box</h2>
      <p>Just a generic box. Nothing to see here.</p>
      </header>
      <section>
      <header>
      <h3>Paragraph</h3>
      <p>This is a subtitle</p>
      </header>
      <p>Phasellus nisl nisl, varius id <sup>porttitor sed pellentesque</sup> ac orci. Pellentesque
      habitant <strong>strong</strong> tristique <b>bold</b> et netus <i>italic</i> malesuada <em>emphasized</em> ac turpis egestas. Morbi
      leo suscipit ut. Praesent <sub>id turpis vitae</sub> turpis pretium ultricies. Vestibulum sit
      amet risus elit.</p>
      </section>
      <section>
      <header>
      <h3>Blockquote</h3>
      </header>
      <blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget.
      tempus euismod. Vestibulum ante ipsum primis in faucibus.</blockquote>
      </section>
      <section>
      <header>
      <h3>Divider</h3>
      </header>
      <p>Donec consectetur <a href="#">vestibulum dolor et pulvinar</a>. Etiam vel felis enim, at viverra
      ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
      facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
      tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
      posuere cubilia.</p>
      <hr />
      <p>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra
      ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
      facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
      tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
      posuere cubilia.</p>
      </section>
      <section>
      <header>
      <h3>Unordered List</h3>
      </header>
      <ul class="default">
      <li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</li>
      <li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</li>
      <li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</li>
      <li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</li>
      </ul>
      </section>
      <section>
      <header>
      <h3>Ordered List</h3>
      </header>
      <ol class="default">
      <li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</li>
      <li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</li>
      <li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</li>
      <li>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel.</li>
      </ol>
      </section>
      <section>
      <header>
      <h3>Table</h3>
      </header>
      <div class="table-wrapper">
      <table class="default">
      <thead>
      <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      </tr>
      </thead>
      <tbody>
      <tr>
      <td>45815</td>
      <td>Something</td>
      <td>Ut porttitor sagittis lorem quis nisi ornare.</td>
      <td>29.99</td>
      </tr>
      <tr>
      <td>24524</td>
      <td>Nothing</td>
      <td>Ut porttitor sagittis lorem quis nisi ornare.</td>
      <td>19.99</td>
      </tr>
      <tr>
      <td>45815</td>
      <td>Something</td>
      <td>Ut porttitor sagittis lorem quis nisi ornare.</td>
      <td>29.99</td>
      </tr>
      <tr>
      <td>24524</td>
      <td>Nothing</td>
      <td>Ut porttitor sagittis lorem quis nisi ornare.</td>
      <td>19.99</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
      <td colspan="3"></td>
      <td>100.00</td>
      </tr>
      </tfoot>
      </table>
      </div>
      </section>
      <section>
      <header>
      <h3>Form</h3>
      </header>
      <form method="post" action="#">
      <div class="row">
      <div class="6u">
      <input class="text" type="text" name="name" id="name" value="" placeholder="John Doe" />
      </div>
      <div class="6u">
      <input class="text" type="text" name="email" id="email" value="" placeholder="johndoe@domain.tld" />
      </div>
      </div>
      <div class="row">
      <div class="12u">
      <select name="department" id="department">
      <option value="">Choose a department</option>
      <option value="1">Manufacturing</option>
      <option value="2">Administration</option>
      <option value="3">Support</option>
      </select>
      </div>
      </div>
      <div class="row">
      <div class="12u">
      <input class="text" type="text" name="subject" id="subject" value="" placeholder="Enter your subject" />
      </div>
      </div>
      <div class="row">
      <div class="12u">
      <textarea name="message" id="message" placeholder="Enter your message"></textarea>
      </div>
      </div>
      <div class="row">
      <div class="12u">
      <ul class="actions">
      <li><input type="submit" value="Submit" /></li>
      <li><input type="reset" class="style3" value="Clear Form" /></li>
      </ul>
      </div>
      </div>
      </form>
      </section>
      </article>
    section#footer
      ul.icons
        li
          a.icon.fa-twitter(href='#')
            span.label Twitter
        | &#x9;&#x9;&#x9;&#x9;
        li
          a.icon.fa-facebook(href='#')
            span.label Facebook
        | &#x9;&#x9;&#x9;&#x9;
        li
          a.icon.fa-google-plus(href='#')
            span.label Google+
        | &#x9;&#x9;&#x9;&#x9;
        li
          a.icon.fa-pinterest(href='#')
            span.label Pinterest
        | &#x9;&#x9;&#x9;&#x9;
        li
          a.icon.fa-dribbble(href='#')
            span.label Dribbble
        | &#x9;&#x9;&#x9;&#x9;
        li
          a.icon.fa-linkedin(href='#')
            span.label LinkedIn
      | &#x9;&#x9;&#x9;
      .copyright
        ul.menu
          li &copy; Untitled. All rights reserved.
          li
            | Design: 
            a(href='http://html5up.net') HTML5 UP

